
<div class="container bg-primary ps-3" data-bs-theme="dark">
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="/">SISTEMAS WEB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav data-bs-theme="dark"">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Cadastrar</a>
                </li>
                <li class="nav-item">
                    <!--Qualquer classe que contenha o atributo disabled suas funções estarão desabilitadas-->
                    <a class="nav-link text-white " href="./consulta">Consultar</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--A classe bg-white define como branco a cor do background-->
<div class="container bg-white">         
    <div>
        <!--Os prefixos :
            ps- refere-se ao padding à esquerda
            pt- refere-se ao padding top
        -->
        <h4 class="ps-3 pt-3"><Strong>Cadastrar - Agendamento de Potenciais Clientes</Strong></h4>
        <p class="ps-3">Sistema utilzado para agendamento de serviços</p>
    </div>
        <!--O prefixo :
            m- refere-se a margin aplicada em torno de todo elemento
        -->
    <form action="/cadastrar" method="POST">    
        <div class="m-3">
            <label for="exampleFormControlInput1" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome">
        </div>
        <div class="m-3">
            <label for="exampleFormControlInput1" class="form-label">Telefone:</label>
            <input type="tel" class="form-control" placeholder="(xx)xxxxx-xxxx" name="telefone">
        </div>
        <div class="m-3">
            <label for="exampleFormControlInput1" class="form-label">Origem:</label>

            <!-- A classe: text-muted altera a cor do texto-placeholder-->
            <select class="form-select text-muted" aria-label="Default select example" name="origem">
                <option value="1">Celular</option>
                <option value="2">Whatsapp</option>
                <option value="3">Telefone Fixo</option>
            </select>    
        </div>
        <div class="m-3">
            <label for="exampleFormControlInput1" class="form-label">Data do contato:</label>
            <input type="date" class="form-control text-muted" placeholder="dd/mm/aaaa" name="data" name="data">
        </div>    
        <div class="m-3">
            <label for="exampleFormControlTextarea1" class="form-label">Observação</label>
            <textarea class="form-control" rows="3" name="observacao"></textarea>
        </div>
        <!--O prefixo :
            col- refere-se a largura de uma coluna no sistema de grid responsivo do bootstrap
            col-md - telas médias
            col-sm - telas menores
            col-lg - telas largas
            col-xl - telas extra largas
            
            O sistema de grid é composto por 12 colunas, assim o elemento ocupara partes dessa divisão 
            conforme a disposição desejada

            col-3 fará que o elemento ocupe 3/12 da largura total disponivel
        -->
        <div class="col-auto p-3">
            <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
        </div>
    </form>
</div>
